[user]
  email = Hexirp@users.noreply.github.com
  name = Hexirp <Hexirp@users.noreply.github.com>
[alias]
  initial-commit = commit -m "Initial commit" --allow-empty
[merge]
  conflictstyle = diff3
[core]
  autoCRLF = false
[pull]
  ff = only
